!====General===
Xcursor.size: 16
Xft.antialias: true

!====Colors====
*.background: #201d2d
*.foreground: #dedbcd
*.color0: #2b2c2e
*.color1: #f283b8
*.color2: #4dc295
*.color3: #e1b794
*.color4: #4391df
*.color5: #6e4dad
*.color6: #5ec9d7
*.color7: #dbd3dc
*.color8: #5d6065
*.color9: #eaacc9
*.color10: #84edc5
*.color11: #e2d59c
*.color12: #76b8e7
*.color13: #9e6ecc
*.color14: #9de0e6
*.color15: #fbfffc

!====URxvt=====
URxvt.scrollBar: False
!URxvt.font: xft: Iosevka:size=9
URxvt.font: xft: MesloLGS\ NF:size=9
URxvt.boldFont: xft: MesloLGS\ NF:style=bold:size=9
URxvt.italicFont: xft: MesloLGS\ NF:style=italic:size=9
URxvt.boldItalicFont: xft: MesloLGS\ NF:style=bold\ italic:size=9
URxvt.internalBorder: 4
URxvt.iso14755: False
URxvt.iso14755_52: False
URxvt.depth: 32
URxvt.background: [90]#201d2d
